@import url(base.css);
.bg{
    background:#f5f5f5 ;
    overflow: hidden;
}
.box{
    width: 3.9rem;
    height: 5.1rem;
    border: 0.03rem solid #c8c8c8;
    margin: 2.47rem 0 3.07rem 1.8rem;
    background: #f8f8f8;
    position: relative;
}
.spot1{
    width: .03rem;
    height: .03rem;
    background: #8c8c8c;
    position: absolute;
    left: -0.03rem;
    top: -0.03rem;
}
.spot2{
    width: .03rem;
    height: .03rem;
    background: #8c8c8c;
    position: absolute;
    right: -0.03rem;
    top: -0.03rem;
}
.spot3{
    width: .03rem;
    height: .03rem;
    background: #8c8c8c;
    position: absolute;
    left: -0.03rem;
    bottom: -0.03rem;
}
.spot4{
    width: .03rem;
    height: .03rem;
    background: #8c8c8c;
    position: absolute;
    right: -0.03rem;
    bottom: -0.03rem;
}
img{
    width: 1.1rem;
    display: block;
    margin:0 auto .2rem;
}
p{
    width: 1.7rem;
    height: .24rem;
    font-size: .24rem;
    color: #000000;
    margin:0 auto;
}
